.incomeAdd{
	width: 45%;
	display: inline-block;
}
.expenseAdd{
	width: 45%;
	display: inline-block;
  margin-left: 75px;
}

.add{
	font-family: Verdana;
	font-size: 30px;
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); 
  	border-radius: 3px;
  	color: #fff;
  	letter-spacing: 1px;
  	

}
.main{
	background-color:#75e6da ;  
  background: linear-gradient(to right,#ddd6f3,20%,#faaca8,80%);
  height: 600px;
  padding-top: 80px;
  margin-left: -10px;
  margin-right: -12px;
  padding-left: 40px;
}

.incTable{
	text-align: center;
	align-content: center;
}
.expense{
  padding: 12px 30px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 auto;
}

.space1{
 background-image: url('space.jpg');
 background-repeat: no-repeat;
}