.div1{
	display: inline-block;
	width: 45%;
	margin-left: 20px;
	float: left;
	margin-top: 120px;
	padding: 10px;
	border: 4px solid black;
	border-radius: 20px;
	background-color: #d4f1f4;
}
.st1{
	font-family: money;
	text-decoration: underline;
}
.ps1{
	font-family: RocknRoll;
	text-align: justify;
	font-size: 16px;
}
.button {
  border-radius: 4px;
  background-color: #2f5061;
  border: none;
  color: #f4eae6;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}