body{  
  font-family: sans-serif;  
  
}  
#box_making { 
  display: inline-block;
  width: 45%;
  vertical-align: center;
  margin-top: 40px;
  padding: 20px;
  border-radius: 70%;
  background: linear-gradient(to right, #ffffee 0%,#0097ff 100%); 
  
} 
.container {  
  padding: 50px;  
  background-color:#75e6da ;  
  border-radius: 70%;
}  
.form{
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;
  border: none; 
  border-style: outset;
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color:   #f2e6ff;  
  outline: none;  
}  
div {  
  padding: 10px 0;  
}  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  padding: 12px 30px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 auto;
}  
.form_log_in{
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.login{
  padding: 12px 30px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 auto;
}  
.login:hover {  
  background-color: black;
  color: white; 
}  
.logBack{
  background: url("https://media.giphy.com/media/l44QkcgKIwjdIBvs4/giphy.gif");
  align-content: center;
  width: 100%;
  text-align: center;
}