body{  
  font-family: sans-serif;  
  background-color:#d4f1f4;  
}  
.container {  
    padding: 50px;  
  background-color:#75e6da ;  
}  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color:  #05445e;  
  outline: none;  
}  
div {  
  padding: 10px 0;  
}  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  text-align: center;
  border-radius: 5px;  
  border: none;  
  cursor: pointer;  
  padding: 16px 30px;  
  width: 50%;
}  
.registerbtn:hover {  
    background-color: black;
    color: white; 
}  
.login{
  text-align: center;
  border-radius: 5px;  
  border: none;  
  cursor: pointer;  
  padding: 16px 30px;  
  width: 50%;
}  
.login:hover {  
    background-color: black;
    color: white; 
}  
