#box_making { 
  display: inline-block;
  width: 40%;
  vertical-align: center;
  border: 8px solid black;
  padding: 60px;
  border-radius: 50%;
  background:  linear-gradient(to right,#ddd6f3 20%,#faaca8 80%); 
  border: solid 5px #ddd6f3;
  transition: border-width 0.6s linear;
}
#box_making :hover { border-width: 10px; }
} 
.container_1{  
  padding: 50px;  
  background: linear-gradient(to right,#ddd6f3 20%,#faaca8 80%);
  width: 100%;
  height: 80%;
  border-radius: 100%; 
}
.form{
  font-family: style= Eras Bold ITC;
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;
  border: none; 
  border-style: outset;
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color:   #f2e6ff;  
  outline: none;  
}  
div {  
  padding: 10px 0;  
}  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  padding: 12px 30px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 auto;

}  
.form_log_in{
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.login{
  padding: 12px 30px;
  /*border: 0;*/
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 auto;
  
}

 
.login:hover {  
  background-color: black;
  color: white; 
}  
.logBack{
  background: url("https://media.giphy.com/media/l44QkcgKIwjdIBvs4/giphy.gif");
  align-content: center;
  width: 100%;
  text-align: center;
}
.newCont{
  background: linear-gradient(to right,#ddd6f3 20%,#faaca8 80%);
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
  border-radius: 5%;
  border: 2px solid black;
}
